/*Header*/

header {
    text-align: center;
    background-image: url(images/astronomy-2179083__340.jpg);
    background-repeat: no-repeat;
}

h1 {
    margin: auto;
}

/*Navigation*/

#navigation nav {
    margin: 0%;
    width: auto;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: black;
}

#navigation nav li {
    width: 5%;
    height: 48%;
    padding: 7.5px 15px 7.5px 15px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: aquamarine;
}

#navigation nav li a {
    text-decoration: none;
}