body{
    width: auto;
    height: auto;
    margin: 0px;
}

/*Header*/

header {
    text-align: center;
    background-image: url(images/astronomy-2179083__340.jpg);
    background-repeat: no-repeat;
}

h1 {
    margin: auto;
}

/*Navigation*/

nav {
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

nav li {
    padding: 7.5px 15px 7.5px 15px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: aquamarine;
}

nav li a {
    text-decoration: none;
}